form {
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px #ccc; 
}
a {
    color: darkblue;
}
h1 {
    color: #a7f145;
}
strong {
    font-size:18px;
    padding: 15px 0 5px;
}
textarea {
    width: 60%;
}

#bdecor {
    background-color: rgb(32, 146, 9);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 45%;
    cursor: pointer;
}

.question 
{
    font-size:18px;
    font-family: "Times New Roman", Times, serif;
    padding: 15px 0 5px;
}

/*index file*/
#indtab {
    font-size: 20px;
    text-align: center;
}
#menu {
    background-color: lightblue;
    height: 100vh;
    width: 20vw;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    background-image: linear-gradient( #dffb3f, #44fc7b);
}
#content {
    height: 100vh;
    width: 77vw;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

/*MCQ file*/
.first 
{
    background-color:#DCDCDC;
}

/*Survey file*/
.info{
    font-size:12px;
    color:#a5b5a9;
    width:170px;
}
.form-required {
    margin-left: 5px;
    color: red;
}
.options{
    font-size:12px;
    color:#000000;
    width:170px;
}

/*Feedback file*/
#thtd {
    text-align: center;
    border-color: #ccc;
    border-bottom: 1px solid #ccc;
}
.first-col {
    width: 16%;
    text-align: left;
}
.question-answer label {
    display: block;
    padding: 0 20px 10px 0;
}

/*Login file*/
#bodycolor {
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
}
.login {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: lightgreen;
}
.logininput {
    text-align: center;
    margin: 20px;
    padding: 5px;
    display: block;
    width: 80%;
}
.btn-login {
    background-color:#4a77d4;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.stinput {
    text-align: center;
    margin: 20px;
    padding: 5px;
}
.adrs * {
    vertical-align: middle;
}